@tailwind base;
@tailwind components;
@tailwind utilities;

#overlay-parent {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    color: transparent;
    z-index: 2;
}

#overlay {
    position: fixed;
    display: none;
    width: 90vw;
    height: 65vh;
    bottom: 20px; 
    right: 10px;
    background-color: white;
    z-index: 3;
    cursor: pointer; }

.sticky-map-button {
    position: fixed;
    bottom: 20px; 
    right: 10px;
    z-index: 1;}

.answered {
    color: green; }

.marked {
    color: #9400d3; }

.pending {
    color: black; }

.sticky-clock {
    position: fixed;
    top: 10px; 
    right: 10px;
    z-index: 1;}

    .shadow{
        -webkit-box-shadow: 0px 0px 13px 1px rgba(31 41 55 1 );
    -moz-box-shadow: 0px 0px 13px 1px rgba(31 41 55 1 );
    box-shadow: 0px 0px 13px 1px rgba(31, 41, 55, 1);
    }
    
    .colr{
        color: #6e3803;
    }
    
    .shad{
        -webkit-box-shadow: 7px 6px 12px -2px rgba(0,0,0,0.39);
    -moz-box-shadow: 7px 6px 12px -2px rgba(0,0,0,0.39);
    box-shadow: 7px 6px 12px -2px rgba(0,0,0,0.39);
    }